modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[workflows]

[deployment]
run = ["sh", "-c", "cd app && python main.py"]

[[ports]]
localPort = 5000
externalPort = 80
